.example-full-width {
  width: 100%;
}
.my-button {
  width: 500px;
  height: 40px;
  left: 993px;
  top: 205px;
  color: #00B2D9;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
}

