<mat-nav-list class="global-nav">
  <mat-accordion class="example-headers-align" multi *ngFor="let m of menu">
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidenav-icon" style="margin-right: 10px;" >{{m.iconUrl}}</mat-icon> 
          {{m.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
     
      <a mat-list-item *ngFor="let i of m.items" (click)="redirectItem(i.path)">
        <mat-icon class="sidenav-icon"></mat-icon>
        {{i.name}}
      </a>
      
    </mat-expansion-panel>

  </mat-accordion>

</mat-nav-list>
