.example-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
}
.example-sidenav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 250px;
  background: #FFFFFF;
  border-right: 0.5px solid rgba(0, 0, 0, 0.15);
}
