.title{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #001E50;
  padding-top: 30px;
  text-align: center;

}
