<table >
  <thead>
  <tr>
    <th>{{spreadsheets.nameCaseIntersection}}</th>
    <th *ngFor="let columnHeader of data.columnHeader">{{ columnHeader }}</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let rowHeader of data.rowHeader; let rowIndex = index">
    <td>{{ rowHeader }}</td>
    <td *ngFor="let reportData of data.reportData[rowIndex]; let colIndex = index">
      <span *ngIf="!editModeStyle">{{ reportData }}</span>
      <input type="{{spreadsheets.inputType}}" [(ngModel)]="data.reportData[rowIndex][colIndex]" *ngIf="editModeStyle">
    </td>
    <td>
      <mat-icon  *ngIf="editModeStyle" (click)="toggleEditMode(rowIndex)">edit</mat-icon>
      <mat-icon *ngIf="!editModeStyle"(click)="toggleEditMode(rowIndex)">done</mat-icon>
    </td>

  </tr>

  </tbody>
</table>
