<button (click)="openDialogue()" class="service-request" [style.backgroundColor]="'#00b2d91a'" [style.Color]="'#00B2D9'" mat-button>View Task Details</button>
<ng-template #dialogTemplate let-dialogRef="dialogRef">
    <h2 mat-dialog-title>Request services</h2>
    <mat-dialog-content>
      <p>Add from below services to create your request bundle</p>
    <app-data-table-generic [data]="dataTask"></app-data-table-generic>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()">Close</button>
    </mat-dialog-actions>
  </ng-template>
