<div class="card-list" style="display: flex; flex-wrap: wrap;">
  <div *ngFor="let card of cardDataList; trackBy: trackByCardId" class="col-md-3 stretch spacer">
    <ng-container [ngSwitch]="card.editing">
      <ng-container *ngSwitchCase="false">
        <mat-card>
          <ng-content></ng-content>
          <div >
             <div *ngIf="card?.primaryLabelName" class="primary-label" [style.backgroundColor]="card?.primaryColor" [style.Color]="card?.labelColor">
            {{ card?.[card.primaryLabelName]}}
          </div>
         
           <ng-container  *ngIf="card.componentAction">
         <ndc-dynamic
    [ndcDynamicComponent]="card.componentAction"
    [ndcDynamicInputs]="{ element: card}">
  </ndc-dynamic>
        </ng-container>
        </div>
          <mat-card-header>

            <ng-container *ngIf="card?.showEditButton">
           
             
            </ng-container>
          </mat-card-header>
          <mat-card-content [style.min-height]="card.minHeight" [style.max-height]="card.maxHeight">

            <div class="my-component-body" contenteditable="true">
              {{ card?.[card.textbodyName]}}
            </div>
             <ng-container *ngIf="!card.editing && card?.componentContent" >
               <ndc-dynamic
    [ndcDynamicComponent]="card.componentContent"
    [ndcDynamicInputs]="{ element: card}">
  </ndc-dynamic>
             </ng-container>
          </mat-card-content>
        </mat-card>
      </ng-container>
     
    </ng-container>
      
     
     
      <mat-card-actions *ngIf="!card.editing && card?.showIconAction">
        <button mat-icon-button (click)="onAction()">
          <mat-icon></mat-icon>
        </button>
      </mat-card-actions>

  </div>

   

</div>
