

  <div class="panal-menu" >
    <mat-card class="example-card"  (click)="openDialog(actionPanel.formEditData,true,actionPanel.endpoint,objId)" (click)="onEdit()">
      <mat-card-header>
        <mat-card-title>Edit</mat-card-title>
        <mat-card-subtitle>Pellentesque vivamus nulla est, tempor, sem gravida </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card delete" (click)="onDelete()">
      <mat-card-header>
        <mat-card-title>Delete</mat-card-title>
        <mat-card-subtitle >Pellentesque vivamus nulla est, tempor, sem </mat-card-subtitle>
      </mat-card-header >
    </mat-card>
    <mat-card  *ngFor="let action of actionPanel.items" class="example-card" (click)="openDialogaffecte(action.formEditData,false,action.endpoint,objId)">
      <mat-card-header>
        <mat-card-title>{{action.actionTitle}}</mat-card-title>
        <mat-card-subtitle >Pellentesque vivamus nulla est, tempor, sem </mat-card-subtitle>
      </mat-card-header >
    </mat-card>
  </div>

  
