<table  mat-table [dataSource]="dataSource"  class="custom-table" matSort [style.width]="data.width" >
  <ng-container *ngFor="let column of data.columns" [matColumnDef]="column.columnDef">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header"  custom-sort-header >{{ column.header }}</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <!-- Use the cel function to display the cell value -->
    
      <ng-container *ngIf="!column.component">{{ column.cel(element) }}</ng-container>
      <!-- Use the component and inputs properties to display the custom cell component -->
      <ng-container *ngIf="column.component"  >  
        <ndc-dynamic
    [ndcDynamicComponent]="column.component"
    [ndcDynamicInputs]="{ element: element, selectedRows: selectedRows, dataSource: dataSource }"
    [ndcDynamicOutputs]="{ selectedRowsChange: data.outputMethod }">
  </ndc-dynamic>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="data.columnDefs"></tr>
  <tr mat-row *matRowDef="let row; columns: data.columnDefs;"></tr>
</table>

<mat-paginator [pageSizeOptions]="pageSizeOptions" class="custom-paginator" >
 
</mat-paginator>
<div *ngIf="data.showRenderButton">
  <button mat-icon-button>
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
