:root {
--bg-color: #F4F6F8;
--border-radius: 10px;
--header-color: #667280;
--font-family: 'Inter';
--font-weight: 500;
--font-size: 12px;
--line-height: 15px;
--icon-color: #7D8DA7;
--disabled-icon-color: #7D8DA7;
--select-bg-color: white;
--select-border-color: #E2E2EA;
--select-arrow-color: #7D8DA7;
--active-select-arrow-color: #00B2D9;
--header-row-height: 40px;
--cell-border-color: #001E50;
--form-field-border-color: #E2E2EA;
--form-field-border-radius: 8px;
--form-field-infix-border-top: 0px;
--cell-color:#001E50;
}

.mat-sort-header-stem {
  
 display: none;
}
::ng-deep .mat-header-row {
background-color: var(--bg-color);
border-radius: var(--border-radius);
overflow: hidden;
}

.custom-paginator ::ng-deep .mat-select {
background-color: var(--select-bg-color);
border-color: var(--select-border-color);
}

.custom-paginator ::ng-deep .mat-select-arrow {
color: var(--select-arrow-color);
}

.custom-paginator ::ng-deep .mat-form-field-underline {
display: none;
}

.custom-paginator ::ng-deep .mat-select-arrow-active {
color: var(--active-select-arrow-color);
}

tr.mat-header-row {
background-color: var(--bg-color);
border-radius: var(--border-radius);
overflow: hidden;
}

.mat-table {
border-radius: var(--border-radius);
overflow: hidden;
}

.mat-header-cell {
color: var(--header-color) !important;
font-family: var(--font-family) !important;
font-style: normal !important;
font-weight: var(--font-weight) !important;
font-size: var(--font-size) !important;
line-height: var(--line-height) !important;
z-index: 1 !important;
}

.mat-header-row {
height: var(--header-row-height) !important;
line-height: var(--header-row-height) !important;
z-index: 2;
}

.mat-row {
border-bottom: 1px solid var(--cell-border-color) !important;
}

.mat-cell {
color: var(--cell-color) !important;
font-family: var(--font-family);
font-style: normal;
font-weight: var(--font-weight);
font-size: var(--font-size);
line-height: var(--line-height);
}



.mat-icon-button.mat-button-disabled.mat-button-disabled {
color: var(--disabled-icon-color) !important;
font-size: var(--font-size) !important;
}

.mat-paginator-page-size-label {
display: none !important;
}

.mat-form-field-underline{
display: none !important;
}

.mat-icon-button{
color: var(--icon-color) !important;
font-size: var(--font-size) !important;
}

.mat-form-field-wrapper {
border: 1px solid var(--form-field-border-color) !important;
border-radius: var(--form-field-border-radius) !important;
padding-bottom: 0px !important;
}
.mat-form-field-infix{
  border-top: 0px !important;
}
.mat-paginator-containe{
  flex-wrap: nowrap !important;
}
table, th, td {
 border-color:transparent;
  border-collapse: separate;
  border-spacing: 0;

}
th {
  background-color: #F4F6F8;
}
@media screen and (max-width: 600px) {
  

  .custom-paginator ::ng-deep .mat-paginator-range-label {
    margin-right: 0;
  }
}