.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.mat-raised-button {

  border-radius: 12px;
  max-width: 150px;
  width: 50%;
}
mat-stepper {
  background-color: #fafafa;
}

