<div>
  <input id="duration" value="{{stepper.valueDuration}}" type="number" #duration [hidden]="true">
  <mat-stepper [animationDuration]="duration.value" [orientation]="stepper.orientation" >

    <mat-step  *ngFor="let step of stepper?.steps; let i = index ;let last = last;" >
      <ng-template  matStepLabel>{{ step.title }}</ng-template>
      <div>
        <ndc-dynamic [ngComponentOutlet]="getComponent(step.contentType)"
                     [ndcDynamicInputs]="{'formData' : step.content , 'submitType': actionType ,'order' :order  }"
                     [ndcDynamicOutputs]="{ myEvent : formResponse }">

        </ndc-dynamic>
      </div>

      <div class="button-container">
        <button mat-button matStepperPrevious  class="mat-raised-button" *ngIf="i !== 0" style="{{stepper.next.style}}" >{{stepper.back.label}}</button>
        <button mat-button matStepperPrevious  class="mat-raised-button" *ngIf="i == 0 && idResponse.length>0" style="{{stepper.next.style}}" >{{stepper.back.label}}</button>
        <button mat-button matStepperNext class="mat-raised-button" *ngIf="!last"  style="{{stepper.next.style}}" (click)="onFormSubmit(step.order)"   >{{stepper.next.label}}</button>
        <button mat-button matStepperNext class="mat-raised-button" *ngIf="last "  style="{{stepper.next.style}}" (click)="validateItem()" >{{stepper.validate.label}}</button>
        <button mat-button matStepperNext class="mat-raised-button" *ngIf="last "  style="{{stepper.next.style}}" (click)="deleteItem()" >{{stepper.delete.label}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>


