.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-stepper {
  background-color: #fafafa;
}


.mat-raised-button{
  margin-left: 30px;
  border-radius: 12px ;
  width: 150px;
  height: 38px;

}
p{
  color : #E9EBF0;
}
::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;

}
::ng-deep .mat-step-header .mat-step-icon-selected  {
  background-color: #00b2d9;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit  {
  background-color: #00b2d9;
}
