.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-stepper {
  background-color: #fafafa;
}


.mat-raised-button{
  margin-left: 30px;
  border-radius: 12px ;
  width: 150px;
  height: 38px;

}
p{
  color : #E9EBF0;
}
