
<div>
  <input id="duration" value="{{stepper.valueDuration}}" type="number" #duration [hidden]="true">
  <mat-stepper  [animationDuration]="duration.value">
    <mat-step *ngFor="let step of stepper?.steps; let i = index ;let last = last;">
      <ng-template matStepLabel>{{ step.title }}</ng-template>
      <div *ngIf="step.input">
        <ng-template  [ngComponentOutlet]="getComponent(step.contentType)" [ndcDynamicInputs]="{'formData' : step.content }" ></ng-template>
      </div>
      <div *ngIf="!step.input">
        <ng-template [ngComponentOutlet]="getComponent(step.contentType)" ></ng-template>
      </div>

      <div class="button-container">
        <button mat-button matStepperPrevious  class="mat-raised-button" *ngIf="i !== 0">{{stepper.back.label}}</button>
        <button mat-button matStepperNext class="mat-raised-button" *ngIf="!last " (click)="onFormSubmit()" >{{stepper.next.label}}</button>
        <button mat-button matStepperNext class="mat-raised-button" *ngIf="last " (click)="reload()" >{{stepper.end.label}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>


