<mat-toolbar class="fix-nav top-nav-custom" *ngIf="oidcSecurityService.userData$ | async as user">
  <!-- <button type="button" mat-icon-button (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button > -->
  <img style="display: inline; margin-left: 20px;" src="../assets/logo2.png" alt="logo" width="35px" height="35px"  (click)="toggleSidebar()" />

  <div class="nav-brand" style="font-size: 30px; margin-left: 10px;">
      Naxxum
  </div>
  <span class="nav-spacer"></span>
  <button mat-button [matMenuTriggerFor]="userMenu1">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">notifications_active</mat-icon>

    </div>

  </button>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h5 class="mr-4">{{ user?.userData?.name }}</h5>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </button>



  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="onReddirectProfile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="onLoggedout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>

  <mat-menu class="notif" #userMenu1="matMenu" [overlapTrigger]="false">
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>    <p *ngIf="connectedUserId===userId" >{{notification}}</p>
    <p *ngIf="connectedUserId===userId" >{{notification}}</p>








  </mat-menu>

</mat-toolbar>
