mat-dialog-content {
  max-width: 1000px;
}
mat-chip {
  background-color: #768DA9;
}
.mat-raised-button{
  border-radius: 12px ;

  width: 100px;
  height: 38px;
  background-color: #00b2d9;
}
p{
  color: #E9EBF0;
}
