<div fxLayout="row wrap" fxLayoutGap="40px" style="padding-left: 50px; padding-top: 50px;">
  <div *ngFor="let row of sortedRows; let i = index" style="margin: 10px;">
    <mat-card style="margin-bottom: 10px ; "
              *ngIf="row[cardView.cardtitle].toLowerCase().indexOf(search.toLowerCase()) !== -1">
      <div class="card">
        <mat-card-content class="card-content">
          <strong>{{ row[cardView.cardInfo]}}</strong>
        </mat-card-content>
        <mat-icon class="more-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      </div>
      <h1>{{ row[cardView.cardtitle]}}</h1>
      <h3>{{ row[cardView.carddescription]}}</h3>
      <div>
        <h2>Created at: {{row[cardView.cardDate] | date:'yyyy-MM-dd HH:mm'}}
          <mat-icon class="more-icon" (click)="openDialog(row)">read_more</mat-icon>
        </h2>

      </div>

    </mat-card>


    <mat-menu #menu="matMenu" xPosition="before">
      <app-action-panel
        *ngIf="cardView.actionPanel"
        [actionPanel]="cardView.actionPanel"
        [objId]="row"
        (edit)="onEditItem($event)"
        (delete)="onDeleteItem($event)"
      ></app-action-panel>
    </mat-menu>
  </div>

</div>








