<h2 mat-dialog-title>{{ data.name }}</h2>
<mat-dialog-content>
  <p>Put the level of {{ data.name }}</p>
  <div class="ratestring">
    <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= data.value" (click)="setRating(star)">
      <mat-icon>star_border</mat-icon>
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="cancel" (click)="onCancelClick()" cdkFocusInitial>Cancel</button>
  <button mat-raised-button class="save" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>


<!-- [mat-dialog-close]="rating" cdkFocusInitial -->