@media (max-width: 768px) {
  .custom-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .custom-table th,
  .custom-table td {
    display: inline-block;
  }
}
.custom-table th,
.custom-table td {
  padding: 10px; /* Ajoutez ici l'espacement souhaité entre les cellules */
}
mat-dialog-content {
  max-width: 700px;
  min-width: 700px;
}
.custom-dialog {
  animation: custom-dialog-enter 0.5s;
}
.mat-raised-button{
  border-radius: 12px ;

  width: 100px;
  height: 38px;
  background-color: #00b2d9;
  margin: 5px;
}
p{
  color: #E9EBF0;
}
