
<div class="dialog">
  <div class="container">
    <div class="vertical-bar"></div>
    <div>
      <div class="names">{{task?.name}}</div>
      <div>{{task?.category}}</div>
    </div>
  </div>

  <mat-dialog-content class="mat-typography">
    <table class="custom-table responsive-table">
      <tr>
        <th>Status</th>
        <th>Estimated_Time</th>
        <th>Skill_level</th>
        <th>Resources_needed</th>
        <th>start date</th>
        <th>End date</th>
      </tr>
      <tr>
        <td>{{task?.status}}</td>
        <td>{{task?.estimatedTime}} hrs</td>
        <td>{{task?.skill_level }}</td>
        <td>{{task?.nbresources }}</td>
        <td>{{task?.startDate | date:'yyyy-MM-dd '}}</td>
        <td>{{task?.endDate | date:'yyyy-MM-dd '}}</td>
      </tr>
    </table>
  </mat-dialog-content>

  <mat-dialog-content class="mat-typography">
    <span mat-dialog-title>Ressources alloted</span>
    <div fxLayout="row wrap" >
      <mat-card *ngFor="let card of users" >
        <div class="container">
          <div class="my-button-container">
            <mat-icon mat-icon-button class="my-button" *ngIf="!card.tasks.includes(task.id)" (click)="assignTaskToUser(card.id , card.firstName , card.lastName , card.userId)">add_circle</mat-icon>
            <mat-icon mat-icon-button class="my-button" *ngIf="card.tasks.includes(task.id)"  (click)="unAssignTaskFromUser(card.id, card.firstName , card.lastName, card.userId)">remove_circle</mat-icon>
          </div>
          <div class="avatar">
            <img [src]="card.avatar.content" alt="Avatar">
          </div>
          <div>
            <div class="names">{{card.firstName}} {{card.lastName}}  </div>
            <div>{{card.skillLevel}}</div>
          </div>

        </div>
      </mat-card>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button class="mat-raised-button" mat-button [mat-dialog-close]="true" cdkFocusInitial><p>OK</p></button>
  </mat-dialog-actions>
</div>




