button {
    margin: 0 15px;
  }
  button.cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #BFD1E3;
    border-radius: 12px;
    color: #768DA9;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
  }
  
  button.cancel:hover {
    background: #BFD1E3;
  }
  
  button.save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    background: #00B2D9;
    border: 1px solid #BFD1E3;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
  }
  
  button.save:hover {
    background: #00A3C3;
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }