.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
justify-content: flex-end; /* Add this to move the button to the right */
align-items: center;
  margin-bottom: 1%;
}

.example-spacer {
  flex: 1 1 auto;
}

.addButton  {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 45px;
  width: 172px;
  background: #00B2D9;
  border-radius: 12px;
  border: none;
}

.buttonText{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;

  
  color: #FFFFFF;
  

}
.search{
  width: 410px;
  margin-top: 1%;
  margin-right: 3%;
}


.mat-toolbar {
  background: none;
}

.title{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;
color: #001E50;
margin-top: auto;
margin-bottom: auto;
}

.cont-info {
display: flex;
margin-bottom: 2%;
align-items: center;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
border: 0.5px solid #D7DCFF;
border-radius: 54px;
}


.mat-form-field-appearance-outline .mat-form-field-flex {
padding: 0 0.75em 0 0.75em;
margin-top: 0;
position: relative;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
color: rgb(255 255 255 / 12%);
border: 0.5px solid #D7DCFF;
border-radius: 54px;
}

.search-bar {
  display: inline-block;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 2px 4px #b8cad8;
  padding: 10px;
  margin-left: 30px;
  width: 20%;
  position: relative;
    }

.search-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
  font-size: 20px;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  width: 100%;
  background-color: transparent;
}

input[type="text"]::placeholder {
  color: #aaa;
}
