<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitAsync()">
    <div class="form-fields">
      <div *ngFor="let field of fields">
        <mat-form-field
          appearance="outline"
          *ngIf="
            field.type === 'string' &&
            field.format === null &&
            field.description === null
          "
        >
          <mat-label>{{ field.name }}</mat-label>
          <input matInput [formControlName]="field.name" />
          <mat-error
            *ngIf="
              form.get(field.name).invalid ||
              form.get(field.name).dirty ||
              form.get(field.name).touched
            "
            >
            <span *ngIf="form.get(field.name).errors?.['minlength']"
              >This field must have at least
              {{ field.minLength }} characters.</span
            >

            <span *ngIf="form.get(field.name).errors?.['required']"
              >This field is required.</span
            >

            <span *ngIf="form.get(field.name).errors?.['maxlength']"
              >This field must have at most
              {{ field.maxLength }} characters.</span
            >
          </mat-error>
        </mat-form-field>
        <!-- aaaaaaaaaaaaaaaaaa -->


        <mat-form-field
          appearance="outline"
          *ngIf="field.type === 'string' && field.format === 'email'"
        >
          <mat-label>{{ field.name }}</mat-label>
          <input type="email" matInput [formControlName]="field.name" />
          <mat-error
            *ngIf="
              form.get(field.name).invalid ||
              form.get(field.name).dirty ||
              form.get(field.name).touched
            "
          >
            <span *ngIf="form.get(field.name).errors?.['minlength']">
              This field must have at least
              {{ field.minLength }} characters.</span
            >

            <span *ngIf="form.get(field.name).errors?.['required']"
              >This field is required.</span
            >

            <span *ngIf="form.get(field.name).errors?.['maxlength']"
              >This field must have at most
              {{ field.maxLength }} characters.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          *ngIf="
            field.type === 'string' &&
            field.format === 'uuid' &&
            field.description === null
          "
        >
          <mat-label>{{ field.name }}</mat-label>
          <input matInput [formControlName]="field.name" />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          *ngIf="field.type === 'number' || field.format === 'int32'"
        >
          <mat-label>{{ field.name }}</mat-label>
          <input matInput type="number" [formControlName]="field.name" />
          <mat-error
            *ngIf="
              form.get(field.name).invalid &&
              (form.get(field.name).dirty || form.get(field.name).touched)
            "
          >
            <span *ngIf="form.get(field.name).errors?.['required']"
              >This field is required.</span
            >
            <span *ngIf="form.get(field.name).errors?.['min']"
              >Value must be at least {{ field.minimum }}.</span
            >
            <span *ngIf="form.get(field.name).errors?.['max']"
              >Value cannot exceed {{ field.maximum }}.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          *ngIf="field.format === 'date-time' && field.type === 'string'"
        >
          <mat-label>{{ field.name }}</mat-label>
          <input
            matInput
            [formControlName]="field.name"
            [matDatepicker]="picker"
          />
          <mat-error
            *ngIf="
              form.get(field.name).invalid &&
              (form.get(field.name).dirty || form.get(field.name).touched)
            "
          >
            <span *ngIf="form.get(field.name).errors?.['required']"
              >This field is required.</span
            >
          </mat-error>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox
          *ngIf="field.type === 'boolean'"
          [formControlName]="field.name"
          [value]="field.name"
          >{{ field.name }}</mat-checkbox
        >

       <mat-form-field *ngIf="field.type === null && field.format === null && field.references[0] " appearance="outline">
          <mat-label>{{ field.name }}</mat-label>
          <mat-select [formControlName]="field.name">
            <mat-option *ngFor="let ref of field.references" [value]="ref">{{
              ref
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="
                      form.get(field.name).invalid &&
                      (form.get(field.name).dirty || form.get(field.name).touched)
                    ">
            <span *ngIf="form.get(field.name).errors?.['required']">This field is required.</span>
          </mat-error>
        </mat-form-field>

         <mat-form-field *ngIf="field.type === null && field.format === null && field.description !== null && !field.references[0] "
          class="example-full-width" appearance="outline">
          <mat-label >{{field.name}}</mat-label>
          <!-- [formControl]="searchDataCtrl" -->
          <input matInput [matAutocomplete]="auto"
          [formControl]="searchDataCtrl"   [formControlName]="field.name" (focus)="onselectData(field.name)" >

          <mat-autocomplete [displayWith]="displayDataTitle" [panelWidth]="400" #auto="matAutocomplete" >            
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let data of filteredData" [value]="data">
                <span><b>{{data.title}}</b> ({{data.title}})</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

          <mat-select-trigger appearance="outline" *ngIf=" field.type === 'array'">
            <mat-chip-list>
              <mat-chip disableRipple *ngFor="let selected of valueControl.value" [selectable]="true" [removable]="true"
             >
                {{ selected.title }}
                <i class="multiselect-chip-remove" matChipRemove matRipple></i>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
          <mat-form-field appearance="outline" *ngIf=" field.type === 'array'">
            <mat-label>{{ field.name }}</mat-label>
            <mat-select [formControlName]="field.name"  multiple>      
              <mat-option  *ngFor="let option of map.get(field.name)" [value]="option.id">
                {{ option.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>  





          
        </div>
        </div>

    <button #buttonToSubmit type="submit" hidden="true"></button>
  </form>
</div>
