<mat-card>
  <mat-card-header>
    <div *ngIf="data.primaryLabel" class="primary-label" [style.backgroundColor]="data.primaryColor">{{ data.primaryLabel }}</div>
    <ng-container *ngIf="data.showEditButton ">
      <button mat-icon-button (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-card-actions *ngIf="data.showIconAction">
        <button mat-icon-button (click)="onAction()">
          <mat-icon></mat-icon>
        </button>
      </mat-card-actions>
    </ng-container>
  </mat-card-header>
  <mat-card-content>
    
      <div class="my-component-body">
       {{data.textbody}}
      </div>
   
  </mat-card-content>
  <ng-container  *ngIf="data.component"
    [ngComponentOutlet]="data.component"
                           >
  </ng-container>
  <mat-card-actions *ngIf="data.showIconAction">
    <button mat-icon-button (click)="onAction()">
      <mat-icon></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>