.mat-tab-label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
::ng-deep .mat-ink-bar {
  background-color:#00B2D9 !important;}

  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  
  .profile-button {
    background-color: #00B2D9;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  
  .profile-button:hover {
    background-color: #00a2c2;
  }
  
  .profile-text {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .profile-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .profile-list li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .skill-name {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .skill-stars {
    color: #00B2D9;
  }
  
  .delete-button {
    color: #cdcdcd; /* Red color */
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  
  .delete-button:hover {
    background-color: #ebebeb89; /* Light red background on hover */
  }

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 20px;
}

.project-card {
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
}

.project-card:hover {
  transform: translateY(-4px);
}

.project-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 16px;
}

.project-languages {
  display: flex;
  flex-wrap: wrap;
}

.project-language {
  background-color: #cfebff;
  
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}
.feature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.feature-header h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.feature-header p {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  margin-top: 0.5rem;
  max-width: 50rem;
  line-height: 1.5;
}

.feature-container {
  padding: 2rem;
  background-color: #f5f5f5;
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature-details {
  margin-left: 1.5rem;
}

.feature-description {
  margin: 0;
  color: #666;
  font-size: 17px;
}

p {
  margin: 0;
}
