<div class="container" >

    <div class="cont-info">

        <h1 class="title">Task management</h1>

        <span class="example-spacer"></span>

    </div>

    <div style="display: flex;" *ngIf="x || id !== undefined">
        <div class="" style="flex: 1; margin-right: 1%;">
            <app-calandar-details  [calendar]="calendarDetails"></app-calandar-details>
        </div>
        <div style="flex: auto; ">
            <app-calendar  [calendar]="calendar"></app-calendar>
        </div>
    </div>
</div>