.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #02027e;
}

.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  height: 510px;
}
.sidebar {
  flex-basis: 30%;
  padding: 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #e0e0e0;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #02027e;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.search-bar input {
  flex: 1;
  border: none;
  font-size: 14px;
  padding: 0 10px;
  outline: none;
  background: #f8f8f8;
}

.content {
  flex-basis: 70%;
  overflow-y: auto;
}

.skill-container {
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px;
  color: #02027e;
}

.mat-tree-node {
  display: flex;
  align-items: center;
  height: 40px;
  background: #f8f8f8;
}

.mat-tree-node button {
  border: none;
  background: #f8f8f8;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  padding-left: 0;
}

.mat-tree-node button:focus {
  outline: #2196F3;
}

.mat-tree-node button:hover {
  color: #2196F3;
}

.mat-icon__toggle {
  margin-right: 5px;
  
}
.mat-tree-node {
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  
  .sidebar {
    flex-basis: 100%;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    overflow: visible;
  }

  .content {
    flex-basis: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }
  
  .search-container {
    margin-left: 0;
    margin-top: 20px;
    justify-content: center;
  }

  .container {
    margin: 10px;
  }
  
  .sidebar {
    padding: 10px;
    border-right: none;
    border-bottom: none;
  }
  
  .search-bar {
    margin-bottom: 10px;
  }
  
  .mat-tree-node__label {
    font-size: 16px;
  }
  
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .mat-chip__item {
    font-size: 14px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.mat-badge-content {
  background:#14B0EF;
  
}

@media only screen and (max-width: 479px) {
  h2 {
    font-size: 20px;
  }
  
  .mat-tree-node__label {
    font-size: 14px;
  }
  
  h1 {
    font-size: 18px;
  }
  
  .mat-chip__item {
    font-size: 12px;
    height: 24px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
  }
  
  .sidebar {
    flex-basis: 30%;
    border-right: none;
  }
  
  .content {
    flex-basis: 70%;
  }
}

