.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 65px;
    background-color: #f2f2f2;
  }
  .sidebar {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: auto;
  }
  h2 {
    margin-top: 0;
  }
  .search-bar {
    margin-bottom: 20px;
  }
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  .mat-tree {
    max-height: 500px;
    overflow: auto;
  }
  .mat-tree-node {
    display: flex;
    align-items: center;
  }
  .mat-tree-node-toggle {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mat-tree-node-toggle:hover {
    background-color: #f2f2f2;
  }
  .mat-tree-node-toggle mat-icon {
    margin-right: 10px;
  }
  .content {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .skill-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .mat-chip {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .mat-tree-node:hover {
    cursor: pointer;
  }
  
  .search-bar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  
  .search-bar-right input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  