<div *ngIf="oidcSecurityService.userData$ | async as user">
    <div class="row align-items-center profile-header">
      <div class="col-md text-center text-md-left">
        <h1><b>Welcome</b> {{user?.userData?.name }}</h1>
      </div>
       <div class="col-md-2 mb-3">
        <img
          [src]=user?.userData?.picture
          alt="User's profile picture"
          class="rounded-circle img-fluid profile-picture"
        />
      </div>
    </div>
  
   <div class="col-md text-center text-md-left">
      <h3><b>Your Profile Details</b></h3>
      <h4><b>name: </b> {{ user?.userData?.name }}</h4>
      <h4><b>nickname: </b> {{ user?.userData?.nickname }}</h4>
      <h4><b>Picture url: </b> {{ user?.userData?.picture }}</h4>
      <h4><b>updated at: </b> {{ user?.userData?.updated_at }}</h4>
      <h4 *ngIf="user?.userData?.email_verified"><b>email: </b> {{ user?.userData?.email }}</h4>
      <h4 *ngIf="user?.userData?.email_verified"><b>email verified: </b> {{ user?.userData?.email_verified }}</h4>

      <ng-container *ngIf="user?.userData?.given_name; else unknown1">
        <h4><b>given name: </b> {{ user?.userData?.given_name }}</h4>
      </ng-container>
      <ng-template #unknown1>
        <h4><b>given name: </b> unknown</h4>
      </ng-template>

      <ng-container *ngIf="user?.userData?.family_name; else unknown">
        <h4><b>family name: </b> {{ user?.userData?.family_name }}</h4>
      </ng-container>
      <ng-template #unknown>
        <h4><b>family name: </b> unknown</h4>
      </ng-template>

      <ng-container *ngIf="user?.userData?.locale; else unknown2">
        <h4><b>locate: </b> {{ user?.userData?.locale }}</h4>
      </ng-container>
      <ng-template #unknown2>
        <h4><b>locate: </b> unknown</h4>
      </ng-template>
      
      <ng-container *ngIf="user?.userData?.sub; else unknown3">
        <h4><b>sub: </b> {{ user?.userData?.sub }}</h4>
      </ng-container>
      <ng-template #unknown3>
        <h4><b>sub: </b> unknown</h4>
      </ng-template>
      </div>
     
  </div>