.service-request{
    margin-left: 30px;
    border:none;
    }
    .search-bar {
        position: relative;
        display: inline-block;
        align-items: center;
        background-color: transparent;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-left: 30px;
        width: 40%;
      }
      
      .search-icon {
        position: absolute;
        right: 10px;
        color: #aaa;
        font-size: 20px;
      }
      .header {
        display: flex;
        align-items: center;
        margin-bottom: 5%;
      }
      
      .titleService {
        margin-right: 20px;
        padding-top: 0px;
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        font-weight:700 ;
      }
      input[type="text"] {
        border: none;
        outline: none;
        font-size: 16px;
        color: #333;
        width: 100%;
        background-color: transparent;
      }
      
      input[type="text"]::placeholder {
        color: #aaa;
      }
      /* For screens with a maximum width of 767px */
      .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00B2D9;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.success-message {

  padding: 30px;
  background-color: #667280;
  color: white;
  
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.success-message h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.success-message p {
  font-size: 20px;
  margin-bottom: 30px;
}

.container input[type="text"],
select,
input[type="date"] {
  width: 100%;
  max-height: 20px;
  min-width: 400px;
   max-width: 400px;
  height: 20px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-fields input {
  max-height: 10px;
}


@media screen and (max-width: 767px) {
    .service-request {
      margin-left: 10px;
    }
    
    .search-bar {
      width: 100%;
    }
    
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .titleService {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
  
  /* For screens with a minimum width of 768px */
  @media screen and (min-width: 768px) {
    .service-request {
      margin-left: 30px;
    }
    
    .search-bar {
      width: 40%;
    }
    
    .header {
      align-items: center;
      margin-bottom: 5%;
    }
    
    .titleService {
      margin-right: 20px;
      margin-bottom: 0px;
    }
  }
        