.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
  justify-content: flex-end; /* Add this to move the button to the right */
  align-items: center;
    margin-bottom: 1%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .addButton  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    height: 45px;
    background: #00B2D9;
    border-radius: 12px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  .buttonText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
  
    
    color: #FFFFFF;
    
  
  }
  .search{
    width: 410px;
    margin-top: 1%;
    margin-right: 3%;
  }
  
  
  .mat-toolbar {
    background: none;
  }
  
  .title{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #001E50;
  margin-top: auto;
  margin-bottom: auto;
  }
  
  .cont-info {
  display: flex;
  margin-bottom: 2%;
  align-items: center;
  }
  
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
  border: 0.5px solid #D7DCFF;
  border-radius: 54px;
  }
  
  
  .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 0.75em 0 0.75em;
  margin-top: 0;
  position: relative;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255 255 255 / 12%);
  border: 0.5px solid #D7DCFF;
  border-radius: 54px;
  }



  
mat-card{
  box-sizing: border-box;

  /* Auto layout */
   width:350px ;
    height: 283px ;
  background: #FEFEFF;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 15px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.card {
  display: flex;
  align-items: center;
}

.card-content {
  flex: 1;
}

.more-icon {
  margin-left: auto;
  border-radius: 10px;
}
.more-icon:hover{
  background-color: rgba(0, 178, 217, 0.1);
}
mat-card-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  gap: 10px;

  max-width: 83px;
  height: 26px;

  background: rgba(0, 178, 217, 0.1);
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}





.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.titleService {
  margin-right: 20px;
  padding-top: 0px;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight:700 ;
}
.search-bar {
  position: relative;
  display: inline-block;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 30px;
  width: 40%;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
  font-size: 20px;
}
input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  width: 100%;
  background-color: transparent;
}

input[type="text"]::placeholder {
  color: #aaa;
}


