mat-icon {
    color: #3f51b5; 
    font-size: 20px; 
    margin-right: 5px; 
  }
  
  
  .mat-option {
    font-size: 14px; 
  }
  
  .mat-option:hover:not(.mat-option-disabled) {
    background-color: #e7ebff; 
  }
  
  .mat-option.mat-selected:not(.mat-option-disabled) {
    background-color: #e7ebff; 
     
  }